<div>
    <script type="text/ng-template" id="addSurnameForm.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Surname</h3>
        </div>
        <div class="modal-body">
            <dd><input name="surname" id="surname" ng-model="surname.surname" required >
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default add-entity" ng-click="open()">Add Surname</button>
</div>
<surname-list surnames="surnamesForm.surnames"></surname-list>



